body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #C2E6F4, #F6F5F5);
}

/* LAYOUT GENERAL */
.layout {
    display: flex;
}

.sidebar {
    width: 260px;
    background: #ffffff;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.logo img {
    width: 260px;
    margin-bottom: 30px;
}

/* MENÚ */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.menu li i {
    margin-right: 10px;
}

.logout-red {
    background: #D9534F;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
}

.logout-red:hover {
    background: #b7423f;
}


/* CONTENIDO PRINCIPAL */
.contenido {
    padding: 30px;
    flex: 1;
}

.titulo {
    font-size: 32px;
    margin-bottom: 10px;
}

/* BUSCADOR */
.buscador {
    background: white;
    padding: 10px 15px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.buscador input {
    border: none;
    outline: none;
    font-size: 15px;
}

/* STATS */
.stats {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.stat-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.stat-box h2 {
    font-size: 32px;
    margin: 0;
}

/* FILTROS */
.filtros {
    margin: 25px 0;
    display: flex;
    gap: 12px;
}

.tag {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.urgente {
    background: #2c7cf7;
}

.evolucion {
    background: #4caf50;
}

.observacion {
    background: #f4b400;
}

.alerta {
    background: #e53935;
}

/*Estado del paciente*/
.paciente {
    position: relative;
}

.estado-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.badge-urgente {
    background: #2c7cf7;
}

.badge-evolucion {
    background: #4caf50;
}

.badge-observacion {
    background: #f4b400;
}

.badge-alerta {
    background: #e53935;
}

/* SUBTITULO */
.subtitulo {
    margin: 20px 0;
    font-size: 22px;
}

/* GRID PACIENTES */
.pacientes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* TARJETAS */
.card {
    background: white;
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.grafico {
    width: 100%;
}

/* BOTÓN */
.btn {
    width: 100%;
    background: #b3d8ff;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    background: #8fc6ff;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .contenido {
        padding: 15px;
    }

    .buscador {
        width: 100%;
    }

    .stats {
        flex-direction: column;
    }

    .stat-box {
        width: 100%;
    }

    .pacientes-grid {
        grid-template-columns: 1fr;
    }
}