@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sulphur+Point:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sulphur Point", sans-serif;
    background-color: white;
}

.header {
    width: 100%;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px 40px;
}

.titulo {
    font-size: 24px;
}

.subtitulo {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}

.medi {
    color: white;
    font-weight: bold;
}

.connect {
    color: black;
    font-weight: bold;
}

.intro img {
    width: 100%;
    display: block;
}

.login-container {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}

.login-title {
    font-size: 34px;
    font-weight: 700;
    color: #003366;
    margin-bottom: 30px;
}

.recuperacion-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.label-text {
    font-size: 17px;
    color: #000;
    text-align: left;
}

.input-text {
    width: 100%;
    padding: 14px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 14px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}

.btn:hover {
    background-color: #00254d;
}

.codigo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.codigo-input {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
}

/* ======== RESPONSIVE ======== */
@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
    }

    .login-container {
        width: 90%;
        margin: 20px auto;
    }

    .login-title {
        font-size: 28px;
    }

    .codigo-container {
        gap: 10px;
    }

    .codigo-input {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}