@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sulphur+Point:wght@300;400;700&display=swap');

/* Reinicio de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.medi {
    color: white;
    /* Azul */
    font-weight: bold;
}

.connect {
    color: black;
    /* Negro */
    font-weight: bold;
}

/*font-family: "Roboto Condensed", sans-serif;*/
/* Estilos generales */
body {
    font-family: "Sulphur Point", sans-serif;
    background-color: white;
    /* Fondo exterior oscuro */
}

/* Header */
.header {
    width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    background-color: #003366;
    /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 15px 40px;
    /* Altura del header */
}

/* Título principal */
.titulo {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: "Sulphur Point", sans-serif;
}

/* Subtítulo */
.subtitulo {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Sulphur Point", sans-serif;
}

.intro img {
    width: 100%;
    /* Para ocupar todo el ancho */
    height: auto;
    /* Mantiene proporción */
    display: block;
    /* Elimina espacio debajo de la imagen */
}

.intro {
    margin-top: 0;
    /* Evita espacio arriba si no lo necesitas */
    padding: 0;
}

.intro div {
    padding: 0;
    margin: 0;
}

/*Formulario :)*/

.login-title {
    text-align: center;
    margin-top: 40px;
    font-size: 42px;
    font-weight: 700;
    font-family: "Sulphur Point", sans-serif;
}

.azul2 {
    color: #003366;
    /* Azul como la imagen */
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}


.formulario form {
    width: 90%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Sulphur Point", sans-serif;
}


.formulario input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    font-family: inherit;
}


.info {
    font-size: 12px;
    color: #555;
    margin-top: -10px;
}


.btn-crear {
    width: 100%;
    padding: 14px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.btn-crear:hover {
    background-color: #00264d;
}


.legal {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
    }

    .formulario form {
        width: 90%;
    }

    .login-title {
        font-size: 32px;
    }
}